html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all 250ms linear;
}

.polaroid:nth-child(1) {
  transform: translate(75%, 70%) rotate(-20deg);
}

.polaroid:nth-child(2) {
  transform: translate(115%, 92.5%) rotate(5deg);
  z-index: 1;
}

.polaroid:nth-child(3) {
  transform: translate(150%, 60%) rotate(35deg);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  bottom: 20px;
  left: 85px;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 2;
}

.polaroid:nth-child(1):hover {
  transform: translate(75%, 70%);
}

.polaroid:nth-child(2):hover {
  transform: translate(115%, 92.5%);
}

.polaroid:nth-child(3):hover {
  transform: translate(150%, 60%);
}
